<h1><%= t ('mensagem.welcome') %></h1>

<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href='<%= contacts_path %>'>
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        Lista de contatos
    </a></li>    
    <li role="presentation"><a href='<%= kinds_path %>'>
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        Lista de tipos
     </a></li>    
</ul>

<hr>

<div class="col-xs-12">
    <div class="page-header">
      <h3>Ultimos cadatros</h3>
    </div>
    <%= render :partial => 'contacts/table' %>
</div>

<hr>

<div class="col-xs-12">
    <div class="page-header">
      <h3>Ultimos cadatros de Tipo</h3>
    </div>
    <%= render :partial => 'kinds/table' %>
</div>