  <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

    <% if @contact.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> Não pode ser salvo por quê:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :nome, :class => 'control-label col-xs-2' %>
      <div class="col-xs-10">
        <%= f.text_field :nome, :class => 'form-control', placeholder: "Nome" %>
      </div>
      <%=f.error_span(:nome) %>
    </div>

    <div class="form-group">
      <%= f.label :kind_id, :class => 'control-label col-xs-2' %>
      <div class="col-xs-10">
        <%= collection_select(:contact, :kind_id, @kinds, :id, :description, {prompt: true}, {class: 'form-control'}) %>
      </div>
     <%=f.error_span(:kind) %>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => 'control-label col-xs-2' %>
      <div class="col-xs-10">
        <%= f.email_field :email, :class => 'form-control', placeholder: "E-mail" %>
      </div>
      <%=f.error_span(:email) %>
    </div>
    
    <%= f.fields_for :address do |address_fields| %>
      <div class="form-group">
        <%= address_fields.label :stret, :class => 'control-label col-xs-2' %>
        <div class="col-xs-10">
          <%= address_fields.text_field :stret, :class => 'form-control', placeholder: "Rua" %>
        </div>
        <%= address_fields.error_span(:stret) %>
      </div>
      <div class="form-group">
        <%= address_fields.label :number, :class => 'control-label col-xs-2' %>
        <div class="col-xs-10">
          <%= address_fields.number_field :number, :class => 'form-control', placeholder: "Numero" %>
        </div>
        <%= address_fields.error_span(:number) %>
      </div>
      <div class="form-group">
        <%= address_fields.label :city, :class => 'control-label col-xs-2' %>
        <div class="col-xs-10">
          <%= address_fields.select :city, options_for_cidades(@contact.address.city), {} ,{class: 'form-control'} %>
        </div>
        <%= address_fields.error_span(:city) %>
       </div>
    <% end %>

 
    <%= f.fields_for :phones do |phones_fields| %>
      <%= render partial: 'phone_fields', locals: {f: phones_fields} %>
    <% end %>


    <div class="col-xs-offset-2">
      <div class="form-group">
        <%= link_to_add_association('<button class="btn btn-default">Adicionar Telefone</button>'.html_safe, f, :phones) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rmk, :class => 'control-label col-xs-2' %>
      <div class="col-xs-10">
        <%= f.text_area :rmk, :class => 'form-control', placeholder: "Observação" %>
      </div>
      <%=f.error_span(:rmk) %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-xs-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  contacts_path, :class => 'btn btn-default' %>
      </div>
    </div>

  <% end %>
